-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: absensi_rqtemi
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `absensi`
--

DROP TABLE IF EXISTS `absensi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `absensi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nis` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `waktu_masuk` datetime DEFAULT NULL,
  `keterangan` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT 'Hadir',
  `input_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `waktu_pulang` datetime DEFAULT NULL,
  `status_kehadiran` enum('Tepat Waktu','Terlambat') CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT 'Tepat Waktu',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `absensi`
--

LOCK TABLES `absensi` WRITE;
/*!40000 ALTER TABLE `absensi` DISABLE KEYS */;
INSERT INTO `absensi` VALUES (1,'42627.1.003','2026-08-04 13:21:27','Bolos',NULL,NULL,'Terlambat'),(2,'42627.1.002','2026-08-04 13:26:01','Hadir',NULL,'2026-08-04 15:30:06','Terlambat'),(3,'42627.1.001','2026-08-04 14:39:39','Bolos',NULL,NULL,'Terlambat'),(4,'42526.1.006','2026-08-04 14:39:44','Bolos',NULL,NULL,'Terlambat'),(5,'42425.01.00','2026-08-04 14:39:49','Bolos',NULL,NULL,'Terlambat'),(6,'42526.1.001','2026-08-04 15:28:58','Bolos',NULL,NULL,'Terlambat');
/*!40000 ALTER TABLE `absensi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `absensi_guru`
--

DROP TABLE IF EXISTS `absensi_guru`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `absensi_guru` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nip` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `waktu_masuk` datetime DEFAULT NULL,
  `waktu_pulang` datetime DEFAULT NULL,
  `keterangan` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT 'Hadir',
  `status_kehadiran` enum('Tepat Waktu','Terlambat') CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT 'Tepat Waktu',
  `input_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `absensi_guru`
--

LOCK TABLES `absensi_guru` WRITE;
/*!40000 ALTER TABLE `absensi_guru` DISABLE KEYS */;
INSERT INTO `absensi_guru` VALUES (1,'2306001','2026-08-04 13:26:12',NULL,'Hadir','Terlambat',NULL),(2,'2601006','2026-08-04 15:29:04',NULL,'Hadir','Terlambat',NULL),(3,'2501005','2026-08-04 15:29:17','2026-08-04 15:29:26','Hadir','Terlambat',NULL),(4,'2506002','2026-08-04 15:29:42',NULL,'Hadir','Terlambat',NULL);
/*!40000 ALTER TABLE `absensi_guru` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guru`
--

DROP TABLE IF EXISTS `guru`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `guru` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nip` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `rfid_uid` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `nama` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `no_hp` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `email` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `foto` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT 'default.jpg',
  `jabatan` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `face_embedding` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nip` (`nip`),
  UNIQUE KEY `rfid_uid` (`rfid_uid`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guru`
--

LOCK TABLES `guru` WRITE;
/*!40000 ALTER TABLE `guru` DISABLE KEYS */;
/*!40000 ALTER TABLE `guru` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kantin_transaksi`
--

DROP TABLE IF EXISTS `kantin_transaksi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kantin_transaksi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nis` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `tipe` enum('debet','kredit') CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT 'debet = belanja, kredit = top up',
  `nominal` int NOT NULL,
  `saldo_awal` int NOT NULL,
  `saldo_akhir` int NOT NULL,
  `keterangan` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `waktu` datetime NOT NULL,
  `operator` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT 'username atau nama lengkap kasir/admin',
  PRIMARY KEY (`id`),
  KEY `idx_nis` (`nis`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kantin_transaksi`
--

LOCK TABLES `kantin_transaksi` WRITE;
/*!40000 ALTER TABLE `kantin_transaksi` DISABLE KEYS */;
/*!40000 ALTER TABLE `kantin_transaksi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas`
--

DROP TABLE IF EXISTS `kelas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kelas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama_kelas` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nama_kelas` (`nama_kelas`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas`
--

LOCK TABLES `kelas` WRITE;
/*!40000 ALTER TABLE `kelas` DISABLE KEYS */;
INSERT INTO `kelas` VALUES (1,'MDTU'),(2,'SDIT'),(3,'TKQ'),(4,'TR');
/*!40000 ALTER TABLE `kelas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kiosk_tokens`
--

DROP TABLE IF EXISTS `kiosk_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kiosk_tokens` (
  `id` int NOT NULL,
  `token` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `updated_at` datetime NOT NULL,
  `expires_at` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kiosk_tokens`
--

LOCK TABLES `kiosk_tokens` WRITE;
/*!40000 ALTER TABLE `kiosk_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `kiosk_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `libur_manual`
--

DROP TABLE IF EXISTS `libur_manual`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `libur_manual` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tanggal` date NOT NULL,
  `keterangan` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `libur_manual`
--

LOCK TABLES `libur_manual` WRITE;
/*!40000 ALTER TABLE `libur_manual` DISABLE KEYS */;
/*!40000 ALTER TABLE `libur_manual` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengaturan`
--

DROP TABLE IF EXISTS `pengaturan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pengaturan` (
  `id` int NOT NULL,
  `nama_sekolah` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT 'Sekolah Kita',
  `jam_masuk` time DEFAULT '07:00:00',
  `jam_pulang_min` time DEFAULT '12:00:00',
  `mode_absen_pulang` tinyint DEFAULT '1',
  `timezone` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT 'Asia/Jakarta',
  `libur_pekanan` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `wa_mode` tinyint(1) DEFAULT '0',
  `wa_token` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT 'sJ6yY7KFBVV2V5mqtSsV',
  `tg_bot_token` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `pass_hapus` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `wa_api_url` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT 'https://api.fonnte.com/send',
  `pesan_masuk` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci,
  `pesan_pulang` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci,
  `logo_sekolah` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT 'logo_default.png',
  `smtp_host` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT 'smtp.gmail.com',
  `smtp_port` int DEFAULT '587',
  `smtp_user` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `smtp_pass` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `s1_masuk` time DEFAULT '07:00:00',
  `s1_pulang` time DEFAULT '12:00:00',
  `s2_masuk` time DEFAULT '12:30:00',
  `s2_pulang` time DEFAULT '17:00:00',
  `wajib_pulang` tinyint(1) DEFAULT '1',
  `s3_masuk` time DEFAULT '17:00:00',
  `s3_pulang` time DEFAULT '21:00:00',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengaturan`
--

LOCK TABLES `pengaturan` WRITE;
/*!40000 ALTER TABLE `pengaturan` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengaturan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `siswa`
--

DROP TABLE IF EXISTS `siswa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `siswa` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nis` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `rfid_uid` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `nama` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `no_hp_ortu` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `telegram_chat_id` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `email` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `foto` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT 'default.jpg',
  `kelas` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `face_descriptor` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci,
  `sesi` enum('1','2','3') COLLATE utf8mb4_general_ci DEFAULT '1',
  `face_embedding` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci,
  `saldo` int DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `nis` (`nis`),
  UNIQUE KEY `rfid_uid` (`rfid_uid`)
) ENGINE=InnoDB AUTO_INCREMENT=158 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `siswa`
--

LOCK TABLES `siswa` WRITE;
/*!40000 ALTER TABLE `siswa` DISABLE KEYS */;
/*!40000 ALTER TABLE `siswa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `spp_jenis_tagihan`
--

DROP TABLE IF EXISTS `spp_jenis_tagihan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `spp_jenis_tagihan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `nominal` decimal(12,2) NOT NULL,
  `tahun_ajaran` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `jatuh_tempo` date NOT NULL,
  `berlaku_untuk` varchar(50) COLLATE utf8mb4_general_ci DEFAULT 'Semua',
  `aktif` tinyint(1) DEFAULT '1',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `spp_jenis_tagihan`
--

LOCK TABLES `spp_jenis_tagihan` WRITE;
/*!40000 ALTER TABLE `spp_jenis_tagihan` DISABLE KEYS */;
/*!40000 ALTER TABLE `spp_jenis_tagihan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `spp_log_notifikasi`
--

DROP TABLE IF EXISTS `spp_log_notifikasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `spp_log_notifikasi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tagihan_id` int NOT NULL,
  `no_hp` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `pesan` text COLLATE utf8mb4_general_ci NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_general_ci DEFAULT 'Terkirim',
  `sent_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `tagihan_id` (`tagihan_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `spp_log_notifikasi`
--

LOCK TABLES `spp_log_notifikasi` WRITE;
/*!40000 ALTER TABLE `spp_log_notifikasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `spp_log_notifikasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `spp_pembayaran`
--

DROP TABLE IF EXISTS `spp_pembayaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `spp_pembayaran` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nomor_transaksi` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `tagihan_id` int NOT NULL,
  `nis` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `metode` enum('Tunai','Transfer','QRIS') COLLATE utf8mb4_general_ci NOT NULL,
  `nominal` decimal(12,2) NOT NULL,
  `bukti_transfer` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `status_verifikasi` enum('Pending','Disetujui','Ditolak') COLLATE utf8mb4_general_ci DEFAULT 'Pending',
  `catatan` text COLLATE utf8mb4_general_ci,
  `petugas_id` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nomor_transaksi` (`nomor_transaksi`),
  KEY `tagihan_id` (`tagihan_id`),
  KEY `nis` (`nis`),
  KEY `status_verifikasi` (`status_verifikasi`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `spp_pembayaran`
--

LOCK TABLES `spp_pembayaran` WRITE;
/*!40000 ALTER TABLE `spp_pembayaran` DISABLE KEYS */;
/*!40000 ALTER TABLE `spp_pembayaran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `spp_pengaturan`
--

DROP TABLE IF EXISTS `spp_pengaturan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `spp_pengaturan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama_bank` varchar(50) COLLATE utf8mb4_general_ci DEFAULT 'Bank BCA',
  `no_rekening` varchar(50) COLLATE utf8mb4_general_ci DEFAULT '1234567890',
  `atas_nama` varchar(100) COLLATE utf8mb4_general_ci DEFAULT 'Rumah Quran Temi',
  `qris_image` varchar(255) COLLATE utf8mb4_general_ci DEFAULT 'qris_default.png',
  `wa_template_tagihan` text COLLATE utf8mb4_general_ci,
  `wa_template_lunas` text COLLATE utf8mb4_general_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `spp_pengaturan`
--

LOCK TABLES `spp_pengaturan` WRITE;
/*!40000 ALTER TABLE `spp_pengaturan` DISABLE KEYS */;
INSERT INTO `spp_pengaturan` VALUES (1,'Bank BCA','1234567890','Rumah Qur\'an Temi','qris_default.png','Bismillah, Yth. Orang Tua dari {nama_siswa} ({kelas}).\n\nTagihan SPP {nama_tagihan} telah diterbitkan sebesar *Rp {nominal}* dengan jatuh tempo tanggal *{jatuh_tempo}*.\n\nLink pembayaran: {link_portal}\n\nTerima Kasih.','Alhamdulillah, Pembayaran {nama_tagihan} sebesar *Rp {nominal}* untuk {nama_siswa} telah DITERIMA dan VERIFIKASI (LUNAS).\n\nKwitansi digital: {link_kwitansi}\n\nTerima kasih atas partisipasinya.');
/*!40000 ALTER TABLE `spp_pengaturan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `spp_tagihan`
--

DROP TABLE IF EXISTS `spp_tagihan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `spp_tagihan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nis` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `jenis_tagihan_id` int NOT NULL,
  `nominal` decimal(12,2) NOT NULL,
  `dibayar` decimal(12,2) DEFAULT '0.00',
  `sisa` decimal(12,2) NOT NULL,
  `status` enum('Belum Bayar','Sebagian','Lunas','Terlambat','Dibatalkan') COLLATE utf8mb4_general_ci DEFAULT 'Belum Bayar',
  `token` varchar(64) COLLATE utf8mb4_general_ci NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`),
  KEY `nis` (`nis`),
  KEY `jenis_tagihan_id` (`jenis_tagihan_id`),
  KEY `status` (`status`),
  KEY `token_2` (`token`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `spp_tagihan`
--

LOCK TABLES `spp_tagihan` WRITE;
/*!40000 ALTER TABLE `spp_tagihan` DISABLE KEYS */;
/*!40000 ALTER TABLE `spp_tagihan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `password` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `role` enum('admin','walikelas','piket','kantin') CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `kelas_diampu` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `nama_lengkap` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','$2y$10$cD3iHhZ9MuNRHlHd0VW5UOeWh.GFcFn1JjbDcFwZwA1ILoN0A22Ra','admin',NULL,'Solahudin Al Ayubih, S.Kom, Gr.');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wa_queue`
--

DROP TABLE IF EXISTS `wa_queue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wa_queue` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nis` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `target` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `message` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `status` enum('pending','sent') CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT 'pending',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wa_queue`
--

LOCK TABLES `wa_queue` WRITE;
/*!40000 ALTER TABLE `wa_queue` DISABLE KEYS */;
/*!40000 ALTER TABLE `wa_queue` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-04 15:44:05
